<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <style>
      .siteTitle {
        display: block;
        font-weight: 900;
        font-size: 30px;
        margin: 20px 0;
      }

      .card {
        height: 400px;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        text-decoration: none;
        border: 4px solid black;
        margin-bottom: 20px;
      }



      .title {
        font-size: 24px;
        color: black;
        font-weight: 700;
        color: #181818;
        position: relative;
        margin: 0 0 20px 0;
      }
    </style>
  </head>

  <body>
    <div class="card">
      <div class="inner">
        <h2 class="title">{{text.main}}</h2>
        <div>
          <pre>
{{text.sub}}
          </p>
            
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
